
a.btn.btn-primary.mt-3{
	height: 7vh;
    font-size: 20px;
    font-weight: bold;
    background: green;
    color: white;
	border:none;
}

a.btn.btn-primary.mt-3:hover {
    background: #52b152;
    color: white;
}

.cart_btn{
	background:#4DBD18;
	border:none;
	font-weight:bold;
	color:white;
}

.cart_btn:hover{
	background:#69be69;
	color:white;
}

.cart_btn:active{
	background:#69be69!important;
	color:white!important;
}


 




@media (max-width: 900px) {
	a.btn.btn-primary.mt-3 {
    height: 5vh;
}
}