.main_footer h1{
	border-bottom:2px solid green;
	color:white;
}

.main_footer h6{
	color:#c3c0c0;
}

.main_footer a{
	text-decoration:none;
}

.main_footer a:hover{
	color:green;
	transition:0.3s;
}

.main_footer{
	border:1px solid;
	height:42vh;
	width:100%;	
	background:black;
	margin-top:10vh;
	padding:30px;
}

.footer_content{
	height:37vh;
	width:100%;
}

.logo{
	height:170px;
}

.footer_li {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    padding: 0;
    margin: 0;
}

.footer_li li {
    list-style: none;
    margin: 0;
}


@media (max-width: 900px) {

    .footer_li {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .footer_li li {
        margin: 0 !important;
        text-align: center;
    }

    .logo {
        height: 80px;
    }

    .main_footer {
        height: auto;
        padding: 30px 15px;
    }

    .footer_content {
        height: auto;
    }

    .main_footer h1 {
        font-size: 22px;
		color:white;
		border-bottom:2px solid green;
    }

    .main_footer h6 {
        font-size: 14px;
		color: #b1b1b1;
    }
}