.fruit_details_btn{
	background:#4DBD18;
	border:none;
	font-weight:bold;
	color:white;
}

.fruit_details_btn:hover{
	background:#69be69;
	color:white;
}

.fruit_details_btn:active{
	background:#69be69!important;
	color:white!important;
}